/* body */
.container_whole{
    width: 1020px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 150px;
}

.text_comp{
    font-size: 30px;
    color: rgb(54, 53, 53);
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(78, 121, 189);
    width:30%;
    margin: 0 auto;
}

.comment_comp{
    background-color: #dee7f0;
    color:rgb(78, 121, 189);
    font-weight: bold;
    height: 90px;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    margin:0 auto;
    line-height: 180%;
    border: 1px solid rgb(204, 204, 236);
    margin-top: 40px;
}

.btn_comp{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

/* フッター */
.footer{
    width: 100vw;
    margin-top: 30px;
    text-align: center;
    background-color: #2285d0;
    height: 80px;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.footer > p{
    font-size: 12px;
    letter-spacing: 1px;
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    color: white;
}


/* password-check 関連*/
.pw_info{
    margin: 20px 0 30px 0;
}
.mail_box{
    width:300px;
}
.pw_reset_container{
    margin-top: 40px;
}
.ui.big.button{
    margin:0 20px;
}
.submit_container{
    display: flex;
    flex-direction: column;
    width:300px;
    margin: 10px auto 20px auto;
}
.ui.left.icon.input{
    margin:5px 0;
}
.pw_info2{
    margin: 20px 0 20px 0;
}