*{
  color: #333;
}

.header_logo{
  width: 350px;
  margin: 0 auto;
}

.header_logo > img {
  width: 100%;
  object-fit: cover;
}

.container {
  width: 1020px;
  margin: 0 auto;
  text-align: center;
}

.log{
  margin-top: 10px;
}

.login_p{
  font-size: 16px;
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #555; */
  top: -30px;
}

.login_p::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: solid 1px #555;
  animation: border_anim 1s ease forwards;
}

@keyframes border_anim {
0%{
  width: 0%;
}
100%{
  width: 100%;
}
}
