/* ヘッダー */
.header_logo{
  width: 250px;
}

.header_logo_container{
  width: 1020px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.header_logo > img {
  width: 100%;
  object-fit: cover;
}

.login_name {
  text-align: end;
  width: 300px;
  height: 20px;
  margin-left: auto;
}

.header_button{
  background-color: #2285d0;
}

.header_button_container{
  width: 1020px;
  margin: 0 auto;
}

.header_button_R{
  margin-left: 70%;
}

/* メイン */
.main_container{
  width: 1020px;
  margin: 0 auto;
  display: flex;
}

.main_right{
  width: 750px;
  margin-left: auto;
  margin-top: 20px;
}

.main_left{
  margin-top: 20px;

}

.out_container{
  width: 750px;
}

.r_out{
  width: 750px;
  display: flex;
}

.r_out > div{
  /* width: 200px; */
  margin-left: 8px;
  font-size: 16px;
  color: rgb(150, 150, 150);
}

.search_container{
  width: 750px;
}

.new_container{
  width: 750px;
  margin-top: 40px;
}

.new_result{
  margin-top: 20px;
  padding-bottom: 20px;
  width: 750px;
  border-bottom: 1px solid rgb(150, 150, 150);
  display:flex;
  justify-content:space-between;
}

.ogp_img{
  width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.new_p {
  margin-top: 10px;
}

.new_title{
  font-size: 20px;
}

.new_userview{
  display: flex;
}

.new_person, .new_review{
  width: 200px;
}

.new_postdate{
  color: rgb(150, 150, 150);
  margin-bottom: 14px;
}

.button{
  margin-bottom: 20px;
}

/* myエディター */
.editor_container{
  width: 1020px;
  margin: 0 auto;
}

.editor_title{
  font-weight: normal;
  font-size: 20px;
  padding: 20px 0;
}

.contents{
  width: 450px;
  margin-top: 10px;
}

.contents > p{
  margin: 0;
}

.contents_fix{
  /* margin-top: 20px; */
  display: flex;
}

.text_input{
  width: 300px;
  margin-left: 20px;
}

select {
  /* 初期化 */
  /* appearance: none; */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* background: none; */
  border: none;
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.select{
  margin-left: 20px;
  background: #fff;
  height: 40px;
  width: 300px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.select::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: -1;
}

textarea{
  margin-left: 20px;
  width: 500px;
  max-height: 170px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  outline: none;
  line-height: 1.6;
  resize: vertical;
}

.input_text{
  padding-top: 4px;
  padding-left: 20px;
  color: #555;
  font-size: 12px;
}

/* 管理者画面 */
.k_title{
  color: #333;
  font-weight: normal;
  width: 1020px;
  margin: 0 auto;
  font-size: 24px;
  padding-top: 30px;
}

.k_top_container{
  background-color: rgb(244, 244, 244);
  width: 100%;
  padding: 30px;
  margin-top: 30px;
}


.k_top_contents{
  width: 1020px;
  display: flex;
  margin: 10px auto;
  flex-direction: row;
  justify-content: space-between;
}

.k_content{
  width: 320px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.k_title_mini{
  padding-top: 30px;
  font-size: 16px;
  text-align: left;
}

.k_head{
  color: #333;
  font-size: 16px;
  padding: 10px;
  margin: 0;
}
/*
#k_thead{
  display: none;
} */

.k_editor_title{
  font-weight: normal;
  font-size: 20px;
}


.hide{
  height: 290px;
  padding: 8px;
  /* display: none; */
  overflow: scroll;
}

.hide_r{
  height: 510px;
  padding: 8px;
  /* display: none; */
  overflow: scroll;
}

.hide::-webkit-scrollbar {
  display:none;
}

.hide_r::-webkit-scrollbar {
  display:none;
}

table{
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

table th{
  padding: 10px 0;
  text-align: center;
  background-color: #2285d0;
  color: #fff;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
}

.table_height{
  height: 600px;
}

/* .mytable {
  /* height: 600px; */


.bk_tr{
  display: table-row !important;
  height: 40px !important;
}

.bk_th{
  display: table-cell !important;
}

.bk_th_r{
  display: table-cell !important;
  width: 250px;
}

.bk_td{
  padding: 10px 0;
  text-align: center;
  height: 30px !important;
}

.bk_td_r{
  padding: 10px 0;
  width: 250px;
  height: 30px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.k_td{
  padding: 10px 0;
  text-align: center;
}

.k_td_r{
  padding: 10px 0 10px 4px;
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.k_td_i{
  padding: 10px 0;
  text-align: center;
  width: 40px;
}

/* .tbody_r{
  height: 400px;
} */

.k_keyword{
  text-align: center;
  font-size: 20px;
}

.ke_container{
  height: 68%;
  width: 1020px;
  margin: 0 auto;
  position: relative;

}

.ke_card{
  background-color: #dee7f0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  height: 400px;
  width: 700px;
  /* text-align: center; */
  padding: 50px;
  border-radius: 20px;
}

.ke_contents_fix{
  display: flex;
  align-items: baseline;
  height: 70px;
  padding: 0 30px;
  justify-content: space-between;
}

.ke_contents_fix1{
  display: flex;
  align-items: baseline;
  height: 70px;
  padding: 0 30px;
}

.ke_select{
  margin-left: 20px;
  background-color: #dee7f0;
  height: 40px;
  width: 200px;
  border: 3px dashed #fff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.ke_select::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  /* border-bottom: 2px solid #fff; */
  /* border-right: 2px solid #fff; */
  z-index: -1;
}

.ke_logo{
  width: 180px;
  margin-left: 70%;
}

.ke_logo > img {
  width: 100%;
  object-fit: cover;
}

.ke_p{
  margin: 0;
  font-size: 16px;
}

.ke_div{
  margin-top: 30px;
}

.bm_title{
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 30px;
}

.pager{
  font-size: 30px !important;
  color: #333;
  margin-top: 16px;
}

.ui-state-default, .clickable{
  cursor: pointer;
  margin-left: 30px;
  font-size:20px;
  color:gray;
}

.m_container{
  width: 1020px;
  margin: 50px auto;
  padding: 50px 0;
}

.m_text{
  width: 750px;
  height: 200px;
  font-size: 18px;
}

.r_title{
  font-size: 20px;
  border-bottom: 2px solid #2285d0;
  width: 800px;
  padding-left: 20px;
  padding-bottom: 4px;
  padding-right: 10px;
}

.r_fix{
  display: flex;
  padding: 0 10px;
}

.r_comment{
  padding: 10px 0 4px 0;
  margin: 0;
  width: 120px;
}

.ck_comment{
  padding: 20px 0 8px 0;
  margin: 10px 0;
}

.r_url{
  padding: 10px 0 26px 12px;
  margin: 0;
  font-size: 16px;
  width: 400px;
}

.r_answer{
  width: 200px;
}

.r_text{
  width: 600px;
  font-size: 16px;
  padding-left: 16px;
}

.r_container{
  display: flex;
  margin-top: 70px;
}

.r_contents_l{
  width: 700px;
}

.r_contents_r{
  width: 500px;
  padding-left: 100px;
}

/* フッター */
.footer{
  width: 100%;
  margin-top: 30px;
  text-align: center;
  background-color: #2285d0;
  height: 100px;
  /* position: absolute; */
  /* bottom: 0; */
}

.s_footer{
  width: 100%;
  /* margin: 30px auto; */
  text-align: center;
  background-color: #2285d0;
  height: 100px;
  /* position: absolute; */
  /* bottom: 0; */
}

.footer > p{
  font-size: 12px;
  letter-spacing: 1px;
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  color: white;
}

.s_footer > p{
  font-size: 12px;
  letter-spacing: 1px;
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  color: white;
}
